<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" style="background-color: #016672;">
              <i class="material-icons">edit</i>
            </div>
            <h4 class="card-title">Formulario Facultativos</h4>
          </div>
          <div class="card-body" *ngIf="rta">
            <form class="form" [formGroup]="form">
              <div class="row">

                <div class="col-4"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Código Contrato</mat-label>
                    <input matInput placeholder="codigo" formControlName="codigoContrato" type="text" value="{{cod}}">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-8"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Descripción</mat-label>
                    <input matInput placeholder="ingresa una descripción" formControlName="descripcion" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-3">
                  <mat-form-field appearance="fill"> 
                    <mat-label>Fecha Inicio</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="ingresa una fecha" formControlName="starDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-3"> <!--c-->
                  <mat-form-field appearance="fill">
                    <mat-label>Hora inicio</mat-label>
                    <input matInput placeholder="ingresa una hora" formControlName="starHours" type="time">
                    <mat-icon matSuffix>access_time</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Fecha Fin</mat-label>
                    <input matInput [matDatepicker]="endDatePicker" placeholder="Ingresa una fecha"
                      formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                    <mat-hint>Este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-3"> <!--c-->
                  <mat-form-field appearance="fill">
                    <mat-label>Hora Fin</mat-label>
                    <input matInput placeholder="ingresa una descripción" formControlName="endHours" type="time">
                    <mat-icon matSuffix>access_time</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-4">
                  <mat-form-field appearance="fill">
                    <mat-label>Selecciona una Moneda</mat-label>
                    <mat-select [(ngModel)]="selectedOption" formControlName="money">
                      <mat-option *ngFor="let item of currency" value="{{item.a}}">{{item.c}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-8"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Siniestros de Contrato</mat-label>
                    <input matInput placeholder="ingresa un Siniestro" formControlName="sinistros" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-12"> <!--C-->
                  <mat-form-field class="example-full-width">
                    <mat-label>Observaciones</mat-label>
                    <textarea matInput placeholder="ingresa una observación" formControlName="observations"
                      type="text"></textarea>
                  </mat-form-field>
                </div>

                
              </div>
            </form>

            <!-- TABLA -->
            <div class="table-responsive">
              <form [formGroup]="formReaseguros">
                <mat-form-field>
                  <mat-label>Buscar...</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Busca..." #input>
                </mat-form-field>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                  <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

                  <!-- Position Column -->
                  <ng-container matColumnDef="codRamos">
                    <th mat-header-cell *matHeaderCellDef class="custom-cello">Codigo <br> Ramo</th>
                    <td mat-cell *matCellDef="let element" class="custom-cell">
                      <mat-form-field appearance="outline">
                        <mat-label>Codigo</mat-label>
                        <mat-select [(value)]="element.selectedRamoCod" style="min-width: 100px;" formControlName="codigo" (ngModelChange)="eventRamo('codigo')">
                          <mat-option *ngFor="let item of ramos" [value]="item.a">
                            {{ item.e }}
                          </mat-option>
                        </mat-select>
                        <mat-hint>selecciona</mat-hint>
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="ramos">
                    <th mat-header-cell *matHeaderCellDef class="custom-cello">Ramo</th>
                    <td mat-cell *matCellDef="let element" class="custom-cell">
                      <mat-form-field appearance="outline">
                        <mat-label>Ramos</mat-label>
                        <mat-select [(value)]="element.selectedRamo" style="min-width: 180px;" formControlName="ramos" (blur)="eventRamo('ramos')">
                          <mat-option *ngFor="let item of ramos" [value]="item.a">
                            {{ item.a2 }}
                          </mat-option>
                        </mat-select>
                        <mat-hint>selecciona</mat-hint>
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="sumaLimite">
                    <th mat-header-cell *matHeaderCellDef class="custom-cello"> Suma Limite </th>
                    <td mat-cell class="custom-cell" *matCellDef="let element">
                      <mat-form-field appearance="outline">
                        <mat-label>Suma Limite</mat-label>
                        <input matInput placeholder="Suma" formControlName="sumaLimite" (blur)="miles('formReaseguros', 'sumaLimite')">
                        <mat-hint>suma</mat-hint>
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="cesion">
                    <th mat-header-cell *matHeaderCellDef class="custom-cell"> Cesión </th>
                    <td mat-cell *matCellDef="let element" class="custom-cell">
                      <mat-form-field appearance="outline">
                        <mat-label>Porcentaje</mat-label>
                        <input matInput placeholder="%" formControlName="seccion" (blur)="percentage('seccion', 'formReaseguros')">
                        <mat-hint>*</mat-hint>
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="nomina">
                    <th mat-header-cell *matHeaderCellDef class="custom-cello"> Nomina </th>
                    <td mat-cell *matCellDef="let element" class="custom-cell">
      
                      <button mat-raised-button class="btn btn-fill btn-rose"
                      style="background-color: #016672" (click)="onSubmit()" type="button">
                      +
                    </button>
                        
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="reas">
                    <th mat-header-cell *matHeaderCellDef class="custom-cello"> Reas </th>
                    <td mat-cell *matCellDef="let element" class="custom-cell">
                      <mat-form-field appearance="outline">
                        <input matInput placeholder="%" formControlName="reas" (ngModelChange)="percentage('reas', 'formReaseguros')">
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="primaTotal">
                    <th mat-header-cell *matHeaderCellDef class="custom-cello"> Prima Total </th>
                    <td mat-cell *matCellDef="let element" class="custom-cell"> </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </form>




            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <!--BOTON 1-->
                <button mat-raised-button type="button" class="btn btn-fill btn-rose"
                  style="background-color: #016672" [disabled]="!form.valid" (click)="saveData(form.value)">
                  Guardar
                </button>
                <!--BOTON 2-->

              </div>
              <div class="col-2">
                <button mat-raised-button type="button" class="btn btn-fill btn-rose"
                  style="background-color: #016672" (click)="storageClear()">
                  Cancelar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>