<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" style="background-color: #016672;">
              <i class="material-icons">edit</i>
            </div>
            <h4 class="card-title">Formulario Facultativo</h4>
          </div>
          <div class="card-body">
            <form class="form" [formGroup]="form" (ngSubmit)="saveData(form.value)">
              <div class="row">

                <div class="col-4"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Código Contrato</mat-label>
                    <input matInput placeholder="codigo" formControlName="codigoContrato" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-8"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Descripción</mat-label>
                    <input matInput placeholder="ingresa una descripción" formControlName="descripcion" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-3"> <!--c-->
                  <mat-form-field appearance="fill">
                    <mat-label>Fecha Inicio</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="ingresa una fecha" formControlName="starDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-3"> <!--c-->
                  <mat-form-field appearance="fill">
                    <mat-label>Hora inicio</mat-label>
                    <input matInput placeholder="ingresa una hora" formControlName="starHours" type="time">
                    <mat-icon matSuffix>access_time</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Fecha Fin</mat-label>
                    <input matInput [matDatepicker]="endDatePicker" placeholder="Ingresa una fecha"
                      formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                    <mat-hint>Este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-3"> <!--c-->
                  <mat-form-field appearance="fill">
                    <mat-label>Hora Fin</mat-label>
                    <input matInput placeholder="ingresa una descripción" formControlName="endHours" type="time">
                    <mat-icon matSuffix>access_time</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-4">
                  <mat-form-field appearance="fill">
                    <mat-label>Selecciona una Moneda</mat-label>
                    <mat-select [(ngModel)]="selectedOption" formControlName="money">
                      <mat-option *ngFor="let item of currency" value="{{item.a}}">{{item.c}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-8"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Siniestros de Contrato</mat-label>
                    <input matInput placeholder="ingresa un Siniestro" formControlName="sinistros" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-12"> <!--C-->
                  <mat-form-field class="example-full-width">
                    <mat-label>Observaciones</mat-label>
                    <textarea matInput placeholder="ingresa una observación" formControlName="observations" type="text"></textarea>
                  </mat-form-field>
                </div>

                <div class="col-4">
                  <!--BOTON-->
                  <button mat-raised-button type="submit" class="btn btn-fill btn-rose"
                    style="background-color: #016672" [disabled]="!form.valid">
                    Guardar
                  </button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>