<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" style="background-color: #016672;">
              <i class="material-icons">storage</i>
            </div>
            <h4 class="card-title">Reporte de Prima</h4>
          </div>
          <div style="display: flex; justify-content: center; align-items: center;">
            <!-- ACA VA EL MENU -->
          </div>

          <div class="card-body">
            <form [formGroup]="cuotaParteFormreasegurador">
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Ramos</mat-label>
                    <select formControlName="ramos" matNativeControl [(ngModel)]='ramo' name="corredor" required>
                      <option value="">Sin Ramos</option>
                      <option *ngFor="let item of ramos" [value]="item.a">{{item.a2}}</option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-xs-12">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Reasegurador</mat-label>
                    <select  formControlName="reas" [(ngModel)]='idreas' required matNativeControl>
                      <option value="">Sin Reasegurador</option>
                      <option *ngFor="let item of rsltnrsgr" [value]="item.a">{{item.cod}} {{item.e}}</option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-xs-12">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Broker</mat-label>
                    <select  formControlName="broker" [(ngModel)]='idbroker' required matNativeControl>
                      <option value="">Sin Moneda</option>
                      <option *ngFor="let item of rsltncr" [value]="item.a">{{item.cod}} {{item.a2}}</option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-xs-12">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Moneda</mat-label>
                    <select  formControlName="moneda" [(ngModel)]='idmone' required matNativeControl>
                      <option value="">Seleccione una moneda</option>
                      <option *ngFor="let item of currency" [value]="item.a">{{item.c}}</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <div align="left">
                    <label>Fecha Emisión</label>
                  </div>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Desde</mat-label>
                    <input type="date"  name="fInicio" formControlName="fInicio" placeholder="" matInput>
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div align="left">
                    <label>Fecha Emisión</label>
                  </div>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Hasta</mat-label>
                    <input type="date"  name="fFin" formControlName="fFin" placeholder="" matInput>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button mat-raised-button color="primary" (click)="enviardatos()">Descargar</button>
                </div>
              </div>
            </form>
            
          </div>
				</div>
			</div>
    </div>
  </div>
</div>