<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" style="background-color: #016672;">
              <i class="material-icons">storage</i>
            </div>
            <h4 class="card-title">Negocios</h4>
          </div>
          <div class="card-body">
            <form class="form mb-4" [formGroup]="form">
              <div class="row">
                <div class="col-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Estado</mat-label>
                    <input matInput placeholder="Elige un estado" formControlName="estado" type="text" />
                    <mat-icon matSuffix>poll</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Corredor</mat-label>
                    <input matInput placeholder="Elige un corredor" formControlName="corredor" type="text" />
                    <mat-icon matSuffix>poll</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Intermediario</mat-label>
                    <input matInput placeholder="Elige un intermediario" formControlName="intermediario" type="text" />
                    <mat-icon matSuffix>poll</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-6">
                  <mat-form-field appearance="fill">
                    <mat-label>% Participación intermediario</mat-label>
                    <input matInput placeholder="Parcipación" formControlName="participacionIntermediario"
                      type="text" />
                    <mat-icon matSuffix>poll</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-6">
                  <mat-form-field appearance="fill">
                    <mat-label>%Comisión intermediario</mat-label>
                    <input matInput placeholder="Comision" formControlName="comisionIntermediario" type="text" />
                    <mat-icon matSuffix>poll</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Aseguradora</mat-label>
                    <input matInput placeholder="Elige un estado" formControlName="aseguradora" type="text" />
                    <mat-icon matSuffix>poll</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-6">
                  <mat-form-field appearance="fill">
                    <mat-label>% participacion Aseguradora</mat-label>
                    <input matInput placeholder="Elige un estado" formControlName="participacionAseguradora"
                      type="text" />
                    <mat-icon matSuffix>poll</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-6">
                  <mat-form-field appearance="fill">
                    <mat-label>% Comisión Aseguradora</mat-label>
                    <input matInput placeholder="Elige un estado" formControlName="comisionAseguradora" type="text" />
                    <mat-icon matSuffix>poll</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Asegurado</mat-label>
                    <input matInput placeholder="Elige un estado" formControlName="asegurado" type="text" />
                    <mat-icon matSuffix>poll</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Nit Asegurado</mat-label>
                    <input matInput placeholder="Elige un estado" formControlName="nitAsegurado" type="text" />
                    <mat-icon matSuffix>poll</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Nota de cobertura </mat-label>
                    <input matInput placeholder="Elige un estado" formControlName="notacobertura " type="text" />
                    <mat-icon matSuffix>poll</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Nota debito</mat-label>
                    <input matInput placeholder="Elige un estado" formControlName="notadebito" type="text" />
                    <mat-icon matSuffix>poll</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>