<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" style="background-color: #016672;">
              <i class="material-icons">people_outline</i>
            </div>
            <h4 class="card-title">Listado Ramos edit</h4>
          </div>
          <!-- MENU -->
          <div style="display: flex; justify-content: center; align-items: center;">
            <app-menu></app-menu>
          </div>
          <div class="card-body">
            <form class="form" [formGroup]="myForm">
              <div class="row">

                <div class="col-4 mb-2">
                  <mat-form-field appearance="fill">
                    <mat-label>Entidad</mat-label>
                    <select id="entidad" name="entidad" formControlName="entidad" matNativeControl>
                      <option value="">Seleccione</option>
                      <option *ngFor="let item of Rsltnntdds" value="{{item.a}}">{{item.c}}</option>
                    </select>
                  </mat-form-field>
                </div>

                <div class="col-4 mb-2">
                  <mat-form-field appearance="fill">
                    <mat-label> Ramo Super Cod. </mat-label>
                    <select name="codigoSuper" id="codigoSuper" formControlName="codigoSuper" matNativeControl>
                      <option value="">Seleccione</option>
                      <option *ngFor="let item of codSuper" value="{{item.a}}">{{item.c}}</option>
                    </select>
                  </mat-form-field>
                </div>

                <div class="col-4 mb-2">
                  <mat-form-field appearance="fill">
                    <mat-label> Ramo Super </mat-label>
                    <select name="ramoSuper" id="ramoSuper" (change)="sinconiza('ramo')" matNativeControl
                      formControlName="ramoSuper">
                      <option value="">Seleccione</option>
                      <option *ngFor="let item of namSuper" value="{{item.a}}">{{item.r}}</option>
                    </select>
                  </mat-form-field>
                </div>

                <div class="col-4 mb-2">
                  <mat-form-field appearance="fill">
                    <mat-label> Cod. Ramo Técnico </mat-label>
                    <input matInput type="text" formControlName="codigoRamoTecnico" name="codigoRamoTecnico"
                      id="codigoRamoTecnico" placeholder="Cod. Ramo Técnico" />
                    <mat-icon matSuffix>poll</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-4 mb-2">
                  <mat-form-field appearance="fill">
                    <mat-label> Abreviatura </mat-label>
                    <input matInput type="text" formControlName="abreviatura" name="abreviatura" id="abreviatura"
                      placeholder="Abreviatura " />
                    <mat-icon matSuffix>poll</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-4 mb-2">
                  <mat-form-field appearance="fill">
                    <mat-label> Ramo Técnico </mat-label>
                    <input matInput type="text" formControlName="ramoTecnico" name="ramoTecnico" id="ramoTecnico"
                      placeholder="Ramo Técnico" />
                    <mat-icon matSuffix>poll</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

              </div>

            </form>

            <!-- Sub ramos -->
            <div class="row mt-4 mb-2">
              <div class="col-md-12">
                <h2>Sub ramos</h2>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Cod Sub Ramo</th>
                      <th>Abreviatura</th>
                      <th>Nombre</th>
                      <th>Acción</th>
                    </tr>
                  </thead>
                  <tbody #subRamo id="subramosList">

                  </tbody>
                </table>
              </div>
              <div class="col-md-12">
                <button class="btn btn-default" (click)="createRowCells(subRamo,'ramos')" style="background-color: #016672 !important;">Sub. Ramos</button>
              </div>
            </div>



            <!--  Productos -->
            <div class="row mt-4 mb-2">
              <div class="col-md-12">
                <h2> Productos</h2>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Cod. producto</th>
                      <th>Abreviatura</th>
                      <th>Nombre</th>
                      <th>Acción</th>
                    </tr>
                  </thead>
                  <tbody #producto id="subramosList">

                  </tbody>
                </table>
              </div>
              <div class="col-md-12">
                <button class="btn btn-default" (click)="createRowCells(producto,'producto')" style="background-color: #016672 !important;">Agregar
                  producto</button>
              </div>
            </div>

            <!--  Coverturas -->
            <div class="row mt-4 mb-2">
              <div class="col-md-12">
                <h2>Coberturas</h2>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Cod. Cobertura</th>
                      <th>Abreviatura</th>
                      <th>Nombre</th>
                      <th>Acción</th>
                    </tr>
                  </thead>
                  <tbody #cobertura id="subramosList">
                  </tbody>
                </table>
              </div>
              <div class="col-md-12">
                <button class="btn btn-default" (click)="createRowCells(cobertura,'cobertura')" style="background-color: #016672 !important;">Agregar
                  Cobertura</button>
              </div>
            </div>



            <button type="button" class="btn" style="background-color: #016672 !important;"
              (click)="update()">Guardar</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>