<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" style="background-color: #016672;">
              <i class="material-icons">storage</i>
            </div>
            <h4 class="card-title">Proveedores</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <form [formGroup]="formulario">
                <div class="row">
                  <div class="col-12">
                    <mat-form-field appearance="fill">
                      <mat-label>Provedor</mat-label>
                      <select formControlName="provedor" matNativeControl>
                        <option value="">SELECIONE UNA OPCIÓN</option>
                        <option [value]="item.a" *ngFor="let item of listProvedor">{{item.a2}}</option>
                      </select>
                    </mat-form-field>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field appearance="fill">
                      <mat-label for="inputEmail4">Tipo de informe</mat-label>
                      <select formControlName="tipoInformacion" matNativeControl>
                        <option [value]="item.id" *ngFor="let item of tipo">{{item.nombre}}</option>
                      </select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="fill">
                      <mat-label for="inputEmail4">Documento</mat-label>
                      <input type="text" placeholder="Nombre documento" formControlName="documento" matInput>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="fill">
                      <mat-label for="inputEmail4">Adjuntar</mat-label>
                      <input type="file" matInput (change)="files($event.target.files,1)">
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field appearance="fill">
                      <mat-label for="inputEmail4">Detalle</mat-label>
                      <input type="text" matInput placeholder="Detalle" formControlName="detalle">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="fill">
                      <mat-label for="inputEmail4">Fecha</mat-label>
                      <input type="date" matInput placeholder="01/01/2019" formControlName="fecha">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="fill">
                      <select formControlName="estado" matNativeControl>
                        <option value="">SELECIONE UNA OPCIÓN</option>
                        <option [value]="item.id" *ngFor="let item of estados">{{item.nombre}}</option>
                      </select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-4">
                      <button class="btn btn-primary" data-toggle="modal" data-target="#pago" style="background-color: #016672;">Detalle de Pago</button>
                  </div>

                  <div class="col-4">
                    <mat-form-field appearance="fill">
                      <mat-label for="inputEmail4">Total</mat-label>
                      <input type="text" matInput [value]="nCant" disabled placeholder="#">
                    </mat-form-field>
                  </div>

                  <div class="col-4">
                    <mat-form-field appearance="fill">
                      <mat-label for="inputEmail4">Valor</mat-label>
                      <input type="text" matInput disabled formControlName="valor" placeholder="Valor">
                    </mat-form-field>
                  </div>
                </div>
              </form>




              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="save()" style="background-color: #016672;">Guardar </button>
                <button type="button" class="btn btn-primary" id="cancelar" style="background-color: #016672;">Cancelar</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="pago" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header  box box-info">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title font-header" id="myModalLabel3">Detalle de Pago</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-xs-12 ">
            <table class="table">
              <thead>
                <tr>
                  <th>No. pagos</th>
                  <th>Fecha pago</th>
                  <th>Moneda</th>
                  <th>Valor</th>
                  <th>Factura</th>
                  <th>Archivo</th>
                </tr>
              </thead>
              <tbody #table id="gpagos">
                <tr>
                  <td>
                    <input type="text" placeholder="1" name="n_pago" class="form-control">
                  </td>
                  <td>
                    <input type="date" placeholder="00/00/0000" alt="dia mes año" name="fecha" class="form-control">
                  </td>
                  <td>
                    <select name="moneda" class="form-control">
                      <option value="">Selecione una moneda</option>
                      <option [value]="item.a" *ngFor="let item of moneda"> {{item.c}} </option>
                    </select>
                  </td>
                  <td>
                    <input type="text" placeholder="10000000" name="valor" (change)="calcular()" class="form-control">
                  </td>
                  <td>
                    <input type="text" class="form-control" placeholder="Factura">
                  </td>
                  <td>
                    <input type="file" (change)="files($event.target.files,2)" style="width: 140px;"
                      placeholder="Documento">
                  </td>
                </tr>

              </tbody>
            </table>
            <div style="display: block;
            margin-bottom: 12px;
            text-align: right;
            font-weight: 800;">
              Total: {{suma}}
            </div>
            <button (click)="adicionar()" class="btn btn-primary">Adicionar celda</button>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deposito()">Aceptar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>