<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" style="background-color: #016672;">
              <i class="material-icons">storage</i>
            </div>
            <h4 class="card-title">{{modulo}}</h4>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <form [formGroup]="cuotaParteForm" class="form">
                  <div class="row">
                    <div class="col-4">
                      <mat-form-field appearance="fill">
                        <mat-label>Poliza</mat-label>
                        <input matInput type="text" (change)="polizabuscar()" formControlName="poliza"
                          placeholder="Poliza">
                        <ul id="myUL" *ngIf="lisRequest3">
                          <li *ngFor="let item of aseguradorpoliza">
                            <a href="javascript:void(0)" (click)="consultar(item)">{{item.c}}</a>
                          </li>
                        </ul>
                      </mat-form-field>
                    </div>

                    <div class="col-4 ">
                      <mat-form-field appearance="fill">
                        <mat-label>Certificado / Endoso</mat-label>
                        <input matInput type="text" formControlName="certificado" placeholder="Cerficado / Endoso">
                      </mat-form-field>
                    </div>

                    <div class="col-md-4 ">
                      <mat-form-field appearance="fill">
                        <mat-label>Fecha Emision</mat-label>
                        <input matInput type="date" formControlName="fechaemision">
                      </mat-form-field>
                    </div>

                    <div class="col-md-4 ">
                      <mat-form-field appearance="fill">
                        <mat-label>Ciudad</mat-label>
                        <input matInput type="text" formControlName="ciudad" placeholder="Ciudad">
                      </mat-form-field>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field appearance="fill">
                        <mat-label>Asegurado</mat-label>
                        <input matInput type="text" (change)="aseguradorfinal()" formControlName="asegurador"
                          placeholder="Asegurado">
                        <ul id="myUL" *ngIf="lisRequest2">
                          <li *ngFor="let item of aseguradornit">
                            <a href="javascript:void(0)" (click)="cargarnit(item)">{{item.a2}}</a>
                          </li>
                        </ul>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field appearance="fill">
                        <mat-label>Nit Asegurado</mat-label>
                        <input matInput type="text" formControlName="nit" disabled placeholder="Nit">
                      </mat-form-field>
                    </div>

                  </div>


                </form>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12">
                <button *ngIf=(!statefinal) type="" (click)="create()"
                  class="btn btn-primary btn btn-info margin-left btn-md shadow-box-item" style="background-color: #016672;">
                  Agregar Ramos
                  <i class="favb fa fa-circle"></i>
                </button>
                <form [formGroup]="cuotaParteFormreasegurador" class="form">
                  <table class="hover table table-striped table-bordered" style="width: 100%;">
                    <thead>
                      <tr>
                        <th>Cod ramo</th>
                        <th>Ramos </th>
                        <th>Suma Limite</th>
                        <th>Prima Total</th>
                        <th>Prima Cedentes</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr *ngIf=(statefinal)>
                        <td>
                          <select formControlName="codigo" class="form-control" (change)="evenRamos('codigo')">
                            <option value="">Selecione un codigo </option>
                            <option *ngFor="let item of ramos" [value]="item.a">
                              {{item.e}} </option>
                          </select>
                        </td>
                        <td>
                          <select id="ramos" name="ramos" formControlName="ramos" class="form-control"
                            (change)="evenRamos('ramos')">
                            <option value="">Selecione un ramo</option>
                            <option *ngFor="let item of ramos" [value]="item.a">
                              {{item.a2}} </option>
                          </select>
                        </td>
                        <td>
                          <input class="form-control" formControlName="sumaLimite"
                            (change)="miles('cuotaParteFormreasegurador','sumaLimite')">
                        </td>

                        <td class="cursor_active">
                          <input class="form-control" formControlName="primas"
                            (change)="miles('cuotaParteFormreasegurador', 'primas')">
                        </td>
                        <td class="cursor_active">
                          <input class="form-control" formControlName="primascentes"
                            (change)="miles('cuotaParteFormreasegurador', 'primas')">
                        </td>
                        <td class="cursor_active">
                          <button class=" btn btn-default btn-lg col-md-12" (click)="createnomina()" style="background-color: #016672;">agregar
                            nomina</button>
                        </td>
                      </tr>

                      <tr *ngFor="let item of listareasu2">
                        <td>
                          <select class="form-control" disabled>
                            <option value="{{item.re}}">{{item.re}}</option>
                          </select>
                        </td>
                        <td>
                          <select id="ramos" name="ramos" class="form-control" disabled>
                            <option value="{{item.ra}}">{{item.ra}}</option>
                          </select>
                        </td>
                        <td>
                          <input class="form-control" value="{{miles('tabel',item.e)}}" disabled="disabled">
                        </td>
                        <td>
                          <input class="form-control" value="{{miles('tabel',item.s)}}" disabled="disabled">
                        </td>
                        <td>
                          <input class="form-control" value="{{miles('tabel',item.a2)}}" disabled="disabled">
                        </td>
                        <td class="cursor_active">
                          <button class="btn btn-warning" data-toggle="modal" data-target="#comision"
                            (click)="editarramos(item)" style="background-color: #016672;">Editar</button>
                          <button class="btn btn-danger" (click)="eliminarramos(item.a)">Eliminar</button>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Identificación del contrato</mat-label>
                            <input matInput (change)="contratosfacultativos()" id="searchInput"
                              placeholder="Nombre del contrato" formControlName="idContrato">
                            <input type="hidden" formControlName="idContratopk">
                            <ul id="myUL" *ngIf="lisRequest">
                              <li *ngFor="let item of contratofinal">
                                <a href="javascript:void(0)" (click)="cargar(item)">{{item.o}}</a>
                              </li>
                            </ul>
                          </mat-form-field>
                        </div>

                        <div class="col-md-6">
                          <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Descripción</mat-label>
                            <input matInput type="text" formControlName="descripcion" placeholder="Descripción"
                              disabled>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Moneda</mat-label>
                            <input matInput type="text" formControlName="moneda" placeholder="Moneda" disabled readonly>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Inicio</mat-label>
                            <input matInput type="text" formControlName="inicio" placeholder="Inicio" disabled readonly>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Fin</mat-label>
                            <input matInput type="text" formControlName="fin" placeholder="Fin" disabled readonly>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">

                <table class="hover table table-striped table-bordered" style="width: 100%;">
                  <thead>
                    <tr>
                      <th>Cod ramo</th>
                      <th>Ramos </th>
                      <th>Suma Limite</th>
                      <th>Prima Reaseguradores</th>
                      <th>% Cesión</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of listareasu">
                    <tr>
                      <td>
                        <mat-form-field appearance="fill">
                          <select matNativeControl class="form-control" disabled readonly>
                            <option value="{{item.ramos.rm}}">
                              {{item.ramos.nme}}
                            </option>
                          </select>
                          <mat-hint>obligatorio *</mat-hint>

                        </mat-form-field>

                      </td>

                      <td>
                        <mat-form-field appearance="fill">
                          <select matNativeControl id="ramos" name="ramos" disabled readonly>
                            <option value="{{item.ramos.rm}}">
                              {{item.ramos.nm}}
                            </option>
                          </select>
                          <mat-hint>obligatorio *</mat-hint>

                        </mat-form-field>
                      </td>

                      <td>
                        <mat-form-field appearance="fill">
                          <input matInput value="{{miles('tabel',item.ramos.c)}}" disabled readonly>
                          <mat-hint>obligatorio *</mat-hint>

                        </mat-form-field>
                      </td>

                      <td>
                        <mat-form-field appearance="fill">
                          <input matInput value="{{miles('tabel',item.ramos.ttl)}}" disabled readonly>
                          <mat-hint>obligatorio *</mat-hint>

                        </mat-form-field>
                      </td>

                      <td>
                        <mat-form-field appearance="fill">
                          <input matInput value="{{porcentaje(item.ramos.r | number)}}" disabled readonly>
                          <mat-hint>obligatorio *</mat-hint>

                        </mat-form-field>
                      </td>
                      <br>
                    </tr>

                    <tr>
                      <th>Reasegurador</th>
                      <th>% Participación</th>
                      <th>Prima Reaseguradores</th>
                    </tr>
                    <tr *ngFor="let list of item.comi">
                      <td>{{idReasegurador( list.cm.r | number )}}</td>
                      <td>{{porcentaje(list.cm.s | number)}}</td>
                      <td>{{miles('tabel',list.tl)}}</td>
                    </tr>
                  </tbody>
                </table>



                <div class="row">
                  <div class="col-md-12 text-center-pro">
                    <button class="btn btn-primary" (click)="procesar()" style="background-color: #016672;">PROCESAR</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <button class="btn btn-default btn-lg btn-block">REASEGURO</button>
              </div>
            </div>
            <div class="row">
              <table class="table" style="margin-top:2rem;">
                <thead>
                  <tr>
                    <th>CONTRATOS</th>
                    <th>TRAMO</th>
                    <th>SUMA RETENIDA</th>
                    <th>SUMA CEDIDA</th>
                    <th>PRIMA RETENIDA</th>
                    <th>PRIMA CEDIDA</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listasegurado">
                    <td>{{item.o}}</td>
                    <td> {{item.a2}} </td>
                    <td>{{miles('tabel',item.pm)}}</td>
                    <td>{{miles('tabel',item.r2)}}</td>
                    <td>{{miles('tabel',item.c2)}}</td>
                    <td>{{miles('tabel',item.pa)}}</td>
                    <td><button class="btn btn-primary" (click)="procesarnominas(item)">Detalle</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <button class="btn btn-default btn-lg btn-block">Esta información se toma del
                  detalle del contrato facultativo especial por reasegurador</button>
              </div>
            </div>
            <div class="row scrollfinito" v-if="listasegurado3">
              <table class="table" style="margin-top:2rem;">
                <thead>
                  <tr>
                    <th>Corredor</th>
                    <th>Reasegurador</th>
                    <th>Suma cedida</th>
                    <th>Prima cedida</th>
                    <th>Comisión</th>
                    <th>Depósitos Retenidos</th>
                    <th>Imp. P. Cedida</th>
                    <th>Brokerage</th>
                    <th>Valor a pagar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listasegurado3">
                    <td>{{item.co}}</td>
                    <td> {{item.re}} </td>
                    <td>{{miles('tabel',item.fn)}}</td>
                    <td>{{miles('tabel',item.rf)}}</td>
                    <td>{{miles('tabel',item.fo)}}</td>
                    <th>{{miles('tabel',item.fs)}}</th>
                    <td>{{miles('tabel',item.fi)}}</td>
                    <td>{{miles('tabel',item.fof)}}</td>
                    <td>{{miles('tabel',item.s4)}}</td>
                    <td><button class="btn btn-primary" data-toggle="modal" data-target="#comisiondetalles"
                        (click)="verdetalle(item)" style="background-color: #016672;">Ver
                        detalles</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <button (click)="guardarpoliza()" class="btn btn-primary" style="margin-right: 1rem;" style="background-color: #016672;">Guardar</button>
                <button (click)="nuevoContrato()" class="btn btn-primary" style="margin-right: 1rem;" style="background-color: #016672;">Nuevo</button>
                <button (click)="cerrar()" class="btn btn-primary" style="margin-right: 1rem;"style="background-color: #016672;">Cerrar</button>

              </div>
            </div>

            <a [routerLink]="['/admin']">
              <button type="button" class="btn btn-alert btn-md shadow-box-item" onclick="history.go(-1);">
                Regresar
                <i class="favb fa fa-circle"></i>
              </button>
            </a>




          </div>

        </div>



        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </div>
</div>


<div class="modal fade" id="comision" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header  box box-info">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title font-header" id="myModalLabel">Ramos Poliza</h4>
      </div>
      <form [formGroup]="fromajustes">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <label for="">Cod ramo</label>
              <select formControlName="codigoedit" class="form-control" (change)="evenRamos('codigoedit')">
                <option *ngIf="valor == 1" value="{{final.re}}" selected>{{final.re}}</option>
                <option [value]="item.a" *ngFor="let item of ramos">{{item.e}} </option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="">Ramos</label>
              <select id="ramos" name="ramos" formControlName="ramosedit" class="form-control"
                (change)="evenRamos('ramosedit')">
                <option *ngIf="valor == 1" value="{{final.re}}" ramosedit>{{final.ra}}</option>
                <option [value]="item.a" *ngFor="let item of ramos">{{item.a2}} </option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="">Suma Limite</label>
              <input class="form-control" formControlName="sumaLimiteedit"
                (change)="miles('cuotaParteFormreasegurador','sumaLimite')">
            </div>

            <div class="col-md-6 cursor_active">
              <label for="">Prima Total</label>
              <input class="form-control" formControlName="primasedit"
                (change)="miles('cuotaParteFormreasegurador', 'primas')">
            </div>
            <div class="col-md-6 cursor_active">
              <label for="">Prima Cedentes</label>
              <input class="form-control" formControlName="primascentesedit"
                (change)="miles('cuotaParteFormreasegurador', 'primas')">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" *ngIf="valor == 1" data-dismiss="modal"
            (click)="guardareditarramos(final)">Editar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal detalles -->
<div class="modal fade" id="comisiondetalles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header  box box-info">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title font-header" id="myModalLabel">Ramos Poliza</h4>
      </div>
      <div class="modal-body" *ngIf="valor1 == 1">
        <div class="row">
          <div class="col-md-12">
            <label for="">Corredor</label>
            <input class="form-control" value="{{finaldetalle.co}}" disabled>
          </div>
          <div class="col-md-12">
            <label for="">Reasegurador</label>
            <input class="form-control" value="{{finaldetalle.re}}" disabled>
          </div>
          <div class="col-md-4">
            <label for="">% Participación</label>
            <input class="form-control" value="{{porcentaje(finaldetalle.s | number)}}" disabled>
          </div>
          <div class="col-md-4">
            <label for="">Suma cedida</label>
            <input class="form-control" value="{{miles('tabel',finaldetalle.fn)}}" disabled>
          </div>
          <div class="col-md-4">
            <label for="">Prima Cedentes</label>
            <input class="form-control" value="{{miles('tabel',finaldetalle.rf)}}" disabled>
          </div>
          <div class="col-md-4">
            <label for="">% de Comisión</label>
            <input class="form-control" value="{{porcentaje(finaldetalle.fc | number)}}" disabled>
          </div>
          <div class="col-md-4">
            <label for="">Comisión</label>
            <input class="form-control" value="{{miles('tabel',finaldetalle.fo)}}" disabled>
          </div>
          <div class="col-md-4">
            <label for="">% Depósito</label>
            <input class="form-control" value="{{porcentaje(finaldetalle.fna | number)}}" disabled>
          </div>
          <div class="col-md-4">
            <label for="">Depósitos Retenidos</label>
            <input class="form-control" value="{{miles('tabel',finaldetalle.fs)}}" disabled>
          </div>
          <div class="col-md-4">
            <label for="">% Imp. P. Cedida</label>
            <input class="form-control" value="{{porcentaje(finaldetalle.fu | number)}}" disabled>
          </div>
          <div class="col-md-4">
            <label for="">Imp. P. Cedida</label>
            <input class="form-control" value="{{miles('tabel',finaldetalle.fi)}}" disabled>
          </div>
          <div class="col-md-4">
            <label for="">% Brokerage</label>
            <input class="form-control" value="{{porcentaje(finaldetalle.ft | number)}}" disabled>
          </div>
          <div class="col-md-4">
            <label for="">Brokerage</label>
            <input class="form-control" value="{{miles('tabel',finaldetalle.fof)}}" disabled>
          </div>
          <div class="col-md-4">
            <label for="">Valor a pagar</label>
            <input class="form-control" value="{{miles('tabel',finaldetalle.s4)}}" disabled>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>