<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon" style="background-color: #016672;">
                            <i class="material-icons">storage</i>
                        </div>
                        <h4 class="card-title">Menú Personalizable</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive center-content">
                            <div class="col-md-12">
                                <mat-stepper [linear]="isLinear" #stepper>
                                    <mat-step>
                                        <ng-template matStepLabel>Menu Principal</ng-template>
                                        <p>
                                            <mat-checkbox class="example-margin" [(ngModel)]="companias">Compañias</mat-checkbox>
                                        </p>
                                        <p>
                                            <mat-checkbox class="example-margin" [(ngModel)]="contratos">Contratos</mat-checkbox>
                                        </p>
                                        <p>
                                            <mat-checkbox class="example-margin" [(ngModel)]="asociacionContratos">Asociación de Contratos
                                            </mat-checkbox>
                                        </p>
                                        <p>
                                            <mat-checkbox class="example-margin" [(ngModel)]="adminreaseguros">Administración de reaseguros
                                            </mat-checkbox>
                                        </p>
                                        <p>
                                            <mat-checkbox class="example-margin" [(ngModel)]="gerencial">Gerencial</mat-checkbox>
                                        </p>
                                        <p>
                                            <mat-checkbox class="example-margin" [(ngModel)]="resportes">Reportes</mat-checkbox>
                                        </p>
                                        <p>
                                            <mat-checkbox class="example-margin" [(ngModel)]="monitoreoContracs">Monitoreo de contratos
                                            </mat-checkbox>
                                        </p>
                                    </mat-step>
                                    <!-- Compañias -->
                                    <mat-step *ngIf="companias">
                                        <ng-template matStepLabel>Compañias</ng-template>
                                        <div class="col-12">
                                            <ul>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="companiasReasegurador">Reasegurador</mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="companiasCorredor">Corredor</mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="companiasAsegurador">Aseguradora</mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="companiasIntermediario">Intermediario</mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="companiasInfo">Info</mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="companiasClientesyProveedores">Clientes y Proveedores
                                                    </mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="companiasReacoex">Reacoex</mat-checkbox>
                                                </li>
                                            </ul>
                                        </div>
                                    </mat-step>
                                    <!-- aSOCIACIÓN DE CONTRATOS -->
                                    <mat-step *ngIf="asociacionContratos">
                                        <ng-template matStepLabel>Asociación de contratos</ng-template>
                                        <div class="col-md-12">
                                            <ul>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="ramos">Ramos</mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="contratosAsociacion">Asociación de Contratos</mat-checkbox>
                                                </li>
                                            </ul>
                                        </div>
                                    </mat-step>
                                    <!-- Menu Contratos -->
                                    <mat-step *ngIf="contratos">
                                        <ng-template matStepLabel>Contratos</ng-template>
                                        <div class="col-md-12">
                                            <ul>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="automaticos">Automaticos</mat-checkbox>
                                                    <ul *ngIf="automaticos">
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="contratosProporcionales">Proporcionales</mat-checkbox>
                                                            <ul *ngIf="contratosProporcionales">
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="contratosProporcionalesCuotaAparte">Cuota Aparte
                                                                    </mat-checkbox>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="contratosAutomaticos">Automaticos</mat-checkbox>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="facultativos">Facultativos</mat-checkbox>
                                                    <ul *ngIf="facultativos">
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="facultativosProporcionales">Proporcionales</mat-checkbox>
                                                            <ul *ngIf="facultativosProporcionales">
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="facultativosProporcionalesFaculta">Facultativos</mat-checkbox>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="facultativosEspeciales">Especiales</mat-checkbox>
                                                            <ul *ngIf="facultativosEspeciales">
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="facultativosEspecialesesFaculta">Facultativos</mat-checkbox>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="cotizacion">Cotización</mat-checkbox>
                                                </li>
                                            </ul>
                                        </div>
                                    </mat-step>
                                    <!-- Menu Administracion de reaseguros -->
                                    <mat-step *ngIf="adminreaseguros">
                                        <ng-template matStepLabel>Administracion de reaseguros</ng-template>
                                        <div class="col-md-12">
                                            <ul>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="primas">Primas</mat-checkbox>
                                                    <ul *ngIf="primas">
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="reaseguroManual">Reaseguro Manual</mat-checkbox>
                                                            <ul *ngIf="reaseguroManual">
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="nuevaDistribucion">Nueva Distrubución</mat-checkbox>
                                                                    <ul *ngIf="nuevaDistribucion">
                                                                        <li>
                                                                            <mat-checkbox [(ngModel)]="nuevaDistribucionFacultativos">Facultativos</mat-checkbox>
                                                                        </li>
                                                                        <li>
                                                                            <mat-checkbox [(ngModel)]="nuevaDistribucionEspecial">Facultativos Especial
                                                                            </mat-checkbox>
                                                                        </li>
                                                                        <li>
                                                                            <mat-checkbox [(ngModel)]="nuevaDistribucionAutomaticos">Automaticos</mat-checkbox>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="modificarDistribucion">Modificar Distrubución
                                                                    </mat-checkbox>
                                                                    <ul *ngIf="modificarDistribucion">
                                                                        <li>
                                                                            <mat-checkbox [(ngModel)]="modificarDistribucionProrroga">Prorroga</mat-checkbox>
                                                                        </li>
                                                                        <li>
                                                                            <mat-checkbox [(ngModel)]="modificarDistribucionFaculta">Modificar Facultativo
                                                                            </mat-checkbox>
                                                                        </li>
                                                                        <li>
                                                                            <mat-checkbox [(ngModel)]="modificarDistribucionAutomaticos">Modificar Automaticos
                                                                            </mat-checkbox>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="nuevoAjuste">Nuevo Ajuste</mat-checkbox>
                                                                    <ul *ngIf="nuevoAjuste">
                                                                        <li>
                                                                            <mat-checkbox [(ngModel)]="nuevoAjusteFacultativo">Ajuste Facultativos
                                                                            </mat-checkbox>
                                                                        </li>
                                                                        <li>
                                                                            <mat-checkbox [(ngModel)]="nuevoAjusteAutomaticos">Ajuste Automaticos
                                                                            </mat-checkbox>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="borrarAjuste">Borrar Ajuste</mat-checkbox>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="reaseguroAutomatico">Reaseguro Automatico</mat-checkbox>
                                                            <ul *ngIf="reaseguroAutomatico">
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="reaseguroAutomaticoCargar">Cargar</mat-checkbox>
                                                                </li>
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="reaseguroAutomaticoProcesar">Procesar</mat-checkbox>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="borrarRea">Borrar Distribucion Rea</mat-checkbox>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="sinistro">Siniestro</mat-checkbox>
                                                    <ul *ngIf="sinistro">
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="siniestroManual">Reaseguro Manual</mat-checkbox>
                                                            <ul *ngIf="siniestroManual">
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="manualDistribucion">Nueva Distribución</mat-checkbox>
                                                                    <ul *ngIf="manualDistribucion">
                                                                        <li>
                                                                            <mat-checkbox [(ngModel)]="manualDistribucionFacultativos">Facultativos</mat-checkbox>
                                                                        </li>
                                                                        <li>
                                                                            <mat-checkbox [(ngModel)]="manualDistribucionAutomaticos">Automaticos</mat-checkbox>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="manualModificarDistribucion">Modificar Distribución
                                                                    </mat-checkbox>
                                                                </li>
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="manualNuevoAjuste">Nuevo Ajuste</mat-checkbox>
                                                                </li>
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="manualBorrarAjuste">Borrar Ajuste</mat-checkbox>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="siniestroAutomatico">Reaseguro Automatico</mat-checkbox>
                                                            <ul *ngIf="siniestroAutomatico">
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="siniestroAutomaticoCargar">Cargar Sinistros Pagados
                                                                    </mat-checkbox>
                                                                </li>
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="siniestroAutomaticoProcesar">Procesar Sinistros Pagados
                                                                    </mat-checkbox>
                                                                </li>
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="siniestroAutomaticoCargarReserva">Cargar siniestro de reservas
                                                                    </mat-checkbox>
                                                                </li>
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="siniestroAutomaticoProcesarReserva">Procesar Reserva de pagados
                                                                    </mat-checkbox>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </mat-step>
                                    <!-- Gerencial -->
                                    <mat-step *ngIf="gerencial">
                                        <ng-template matStepLabel>Gerencial</ng-template>
                                        <div class="col-md-12">
                                            <ul>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="administracion">Administración</mat-checkbox>
                                                    <ul *ngIf="administracion">
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="asigproveedores">Asignación de Proveedores</mat-checkbox>
                                                        </li>
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="admonProveedores">Admon Proveedores</mat-checkbox>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="negocio">Negocio</mat-checkbox>
                                                    <ul *ngIf="negocio">
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="detalle">Detalle</mat-checkbox>
                                                            <ul *ngIf="detalle">
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="creacion">Creación</mat-checkbox>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </mat-step>
                                    <!-- Reportes -->
                                    <mat-step *ngIf="resportes">
                                        <ng-template matStepLabel>Reportes</ng-template>
                                        <div class="col-md-12">
                                            <ul>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="primasReporte">Primas</mat-checkbox>
                                                    <ul *ngIf="primasReporte">
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="reporCesion">Resumen de cesión</mat-checkbox>
                                                        </li>
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="reauxPrima">Bordereaux de prima</mat-checkbox>
                                                        </li>
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="reporteAutomatico">Reporte de contrato automatico
                                                            </mat-checkbox>
                                                        </li>
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="reporteFacultativo">Reporte de contrato Facultativo
                                                            </mat-checkbox>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="siniestrosReportes">Sinistros</mat-checkbox>
                                                    <ul *ngIf="siniestrosReportes">
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="resumenSinistros">Resumen de sinistros</mat-checkbox>
                                                        </li>
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="reauxSinistro">Bordereaux de sinistros</mat-checkbox>
                                                        </li>
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="reaseguroSinistro">Sinistros de reasegurador</mat-checkbox>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="cartera">Cartera</mat-checkbox>
                                                    <ul *ngIf="cartera">
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="reaseguradorCartera">Reasegurador</mat-checkbox>
                                                        </li>
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="companiaCartera">Copa&ntilde;ia</mat-checkbox>
                                                        </li>
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="proveedorCartera">Proveedor</mat-checkbox>
                                                        </li>
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="vencimientoCartera">Vencimientos</mat-checkbox>
                                                            <ul *ngIf="vencimientoCartera">
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="vencimientoCarteraReasegurador">Reasegurador</mat-checkbox>
                                                                </li>
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="vencimientoCarteraCmpania">Compa&ntilde;ia</mat-checkbox>
                                                                </li>
                                                                <li>
                                                                    <mat-checkbox [(ngModel)]="vencimientoCarteraProveedor">Proveedor</mat-checkbox>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <mat-checkbox [(ngModel)]="pagosCartera">Pagos</mat-checkbox>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="informes">Informes</mat-checkbox>
                                                </li>
                                            </ul>
                                        </div>
                                    </mat-step>
                                    <!-- Monitoreo de Contratos -->
                                    <mat-step *ngIf="monitoreoContracs">
                                        <ng-template matStepLabel>Monitoreo de Contratos</ng-template>
                                        <div class="col-md-12">
                                            <ul>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="monitoreoAutomaticos">Automaticos</mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox [(ngModel)]="monitoreoFacultativos">Facultativos</mat-checkbox>
                                                </li>
                                            </ul>
                                        </div>
                                    </mat-step>
                                </mat-stepper>
                                <div class="col-sm-12 col-md-12">
                                    <div class="col-12">
                                        <button class="btn btn-primary" (click)="saveDta()" *ngIf="menuItems.length == 0">Guardar Información</button>
                                        <button class="btn btn-primary" (click)="saveDta()" *ngIf="menuItems.length != 0">Editar Información</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>