<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" style="background-color: #016672;">
              <i class="material-icons">edit</i>
            </div>
            <h4 class="card-title">Detalle por Reasegurador - Cuota Parte </h4>
          </div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="guardar()">
              <div class="row">

                <div class="col-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Seleccione un Corredor</mat-label>
                    <mat-select [(ngModel)]="selectedOption" formControlName="corredor">
                      <mat-option *ngFor="let item of corredor" value="{{item.a}}">{{item.cod}} {{item.a2}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-6"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Reasegurador</mat-label>
                    <mat-select P formControlName="reasegurador">
                      <mat-option *ngFor="let item of asegurador" value="{{item.a}}">{{item.cod}}
                        {{item.e}}</mat-option>
                    </mat-select>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-6"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>% Participación</mat-label>
                    <input matInput placeholder="" formControlName="participacion" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-6"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>% Comisión</mat-label>
                    <input matInput placeholder="" formControlName="comision" type="text" (click)="comsionModal()" (blur)="recibeModalComi()" (blur)="porcentaje('comision')">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-6"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Depósitos Retenidos</mat-label>
                    <input matInput placeholder="" formControlName="depositosRetenidos" type="text" (click)="depositoModal()" (blur)="test()">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-3"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>% de Comisión Utilidades</mat-label>
                    <input matInput placeholder="" formControlName="comisionUtilidadespor" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-3"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Comisión Utilidades</mat-label>
                    <input matInput placeholder="" formControlName="comisionUtilidades" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-4"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>% de Gastos</mat-label>
                    <input matInput placeholder="" formControlName="gastos" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-4"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>% de Impuesto sobre Primas cedidas</mat-label>
                    <input matInput placeholder="" formControlName="impuestos" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-4"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Imp. renta / dep. retenidos</mat-label>
                    <input matInput placeholder="" formControlName="impRenta" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-6"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Traspaso de Cartera</mat-label>
                    <input matInput placeholder="" formControlName="traspaso" type="text" (click)="depositoCarteraModal()"  (blur)="recibeModalTra()">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-6"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Arrastre de perdidas</mat-label>
                    <input matInput placeholder="" formControlName="arrastrePerdida" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-6"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Cuentas</mat-label>
                    <mat-select formControlName="cuenta">
                      <mat-option value="1">Mensual</mat-option>
                      <mat-option value="2">Trimestral</mat-option>
                      <mat-option value="3">Semanal</mat-option>
                      <mat-option value="4">Anual</mat-option>

                    </mat-select>
                    <mat-hint>este campo es obligatorio *</mat-hint>

                  </mat-form-field>
                </div>

                <div class="col-6"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Brokerage</mat-label>
                    <input matInput placeholder="" formControlName="brokerage" type="text"  (blur)="porcentajes('brokerage', 'form')">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-2">
                  <button mat-raised-button type="submit" class="btn btn-fill btn-rose"
                    style="background-color: #016672" [disabled]="!form.valid">
                    Guardar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>