<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card ">
					<div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" style="background-color: #016672;">
              <i class="material-icons">edit</i>
            </div>
            <h4 class="card-title">Detalle por Reasegurador - Cuota Parte </h4>
          </div>
					<div class="card-body">
						<form [formGroup]="form" >
							<div class="row">

								<div class="col-6"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Corredor</mat-label>
                    <input matInput placeholder="" formControlName="corredor" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

								<div class="col-6"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Reasegurador</mat-label>
                    <input matInput placeholder="" formControlName="reasegurador" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

								<div class="col-6"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>% Participación</mat-label>
                    <input matInput placeholder="" formControlName="participacion" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

								<div class="col-6"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>% Comisión</mat-label>
                    <input matInput placeholder="" formControlName="comision" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

								<div class="col-6"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Depósitos Retenidos</mat-label>
                    <input matInput placeholder="" formControlName="depositosRetenidos" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

								<div class="col-3"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>% de Comisión Utilidades</mat-label>
                    <input matInput placeholder="" formControlName="comisionUtilidadespor" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

								<div class="col-3"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Comisión Utilidades</mat-label>
                    <input matInput placeholder="" formControlName="comisionUtilidades" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

								<div class="col-4"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>% de Gastos</mat-label>
                    <input matInput placeholder="" formControlName="gastos" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

								<div class="col-4"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>% de Impuesto sobre Primas cedidas</mat-label>
                    <input matInput placeholder="" formControlName="impuestos" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

								<div class="col-4"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Imp. renta / dep. retenidos</mat-label>
                    <input matInput placeholder="" formControlName="impRenta" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

								<div class="col-4"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Traspaso de Cartera</mat-label>
                    <input matInput placeholder="" formControlName="traspaso" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

								<div class="col-4"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Arrastre de perdidas</mat-label>
                    <input matInput placeholder="" formControlName="arrastrePerdida" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

								<div class="col-4"> <!--C-->
                  <mat-form-field appearance="fill">
                    <mat-label>Cuentas</mat-label>
                    <input matInput placeholder="" formControlName="cuentas" type="text">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
