<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" style="background-color: #016672;">
              <i class="material-icons">edit</i>
            </div>
            <h4 class="card-title">Detalle por Reasegurador - Cuota Parte </h4>
          </div>
          <div class="card-body"> 
            <form novalidate (ngSubmit)="create(createForm.value)" #createForm="ngForm">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label for="e">Entidad</mat-label>
                    <input matInput matInput type="text" readonly value="{{type}}">
                    <input matInput type="hidden" id="e" name="e" [(ngModel)]="itemData.e" #e="ngModel">
                    <mat-icon matSuffix>home</mat-icon> 
                  </mat-form-field>
                </div>
            
                <div class="col-md-4" style="display: none">
                  <mat-form-field appearance="outline">
                    <mat-label for="c">Cod. Corredor</mat-label>
                    <input matInput type="number" placeholder="Código Corredor" id="c" name="c" ngModel #c="ngModel">
                    <mat-icon matSuffix>phone</mat-icon> 
                  </mat-form-field>
                </div>
            
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label for="r">Razón Social</mat-label>
                    <input matInput type="text" (change)="consulta(r.value)" id="r" name="r" placeholder="Razon Social"
                      [(ngModel)]="reaseguroData.r" #r="ngModel" required>
                    <mat-icon matSuffix>business</mat-icon> 
                  </mat-form-field>
                </div>
            
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label for="na">Nombre Abreviado</mat-label>
                    <input matInput type="text" id="na" name="na" placeholder="Nombre Abreviado"
                      [(ngModel)]="reaseguroData.na" #na="ngModel" required>
                    <mat-icon matSuffix>label</mat-icon> 
                  </mat-form-field>
                </div>
            
                <div class='row' *ngIf="lisRequest">
                  <li>
                    <ul *ngFor="let item of reaseguroData">
                      <span>{{item.e}} </span>
                      <span class='btn btn-default left' (click)="cargar(item)">Cargar</span>
                    </ul>
                  </li>
                </div>
            
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label for="ni">NIT</mat-label>
                    <input matInput type="text" id="ni" name="ni" placeholder="NIT" [(ngModel)]="reaseguroData.nt"
                      #ni="ngModel" required>
                    <mat-icon matSuffix>fingerprint</mat-icon> 
                  </mat-form-field>
                </div>
            
                <div class="col-md-8">
                  <mat-form-field appearance="outline">
                    <mat-label for="te">Teléfono</mat-label>
                    <input matInput type="text" id="te" name="te" placeholder="Teléfono" [(ngModel)]="reaseguroData.te"
                      #te="ngModel" required>
                    <mat-icon matSuffix>call</mat-icon> 
                  </mat-form-field>
                </div>
            
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label for="d">Dirección</mat-label>
                    <input matInput type="text" id="d" name="d" placeholder="Dirección" [(ngModel)]="reaseguroData.dr"
                      #d="ngModel" required>
                    <mat-icon matSuffix>location_on</mat-icon> 
                  </mat-form-field>
                </div>
            
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label for="con">Contacto</mat-label>
                    <input matInput type="text" id="con" name="con" placeholder="Contacto" [(ngModel)]="reaseguroData.c"
                      #con="ngModel" required>
                    <mat-icon matSuffix>contact_mail</mat-icon> 
                  </mat-form-field>
                </div>
            
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label for="p">País Origen</mat-label>
                    <select matNativeControl id="p" name="p" ngModel #p="ngModel" required>
                      <option value=""> Seleccione</option>
                      <option *ngFor="let item of Rsltnpss" value="{{item.a}}">{{item.c}}</option>
                    </select>
            
                    <mat-icon matSuffix>flag</mat-icon> 
                  </mat-form-field>
                </div>
            
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label for="es">Estado</mat-label>
                    <select matNativeControl id="es" name="es" ngModel #es="ngModel" required>
                      <option value="1">Activo</option>
                      <option value="0">Inactivo</option>
                    </select>
            
                  </mat-form-field>
                </div>
            
                <div class="col-md-12">
                  <mat-form-field appearance="outline">
                    <mat-label for="rg">Región</mat-label>
                    <input matInput type="text" id="rg" name="rg" placeholder="Región" [(ngModel)]="reaseguroData.rg"
                      #rg="ngModel" required>
                    <mat-icon matSuffix>map</mat-icon> 
                  </mat-form-field>
                </div>
              </div>
            
              <button type="button" class="btn btn-alert btn-md shadow-box-item" onclick="history.go(-1);">
                Regresar
                <i class="favb fa fa-circle"></i>
              </button>
            
              <button type="submit" class="btn btn-primary" class="btn" style="background-color: #016672 !important;">
                Modificar Compa&ntilde;ia
              </button>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>