<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" style="background-color: #016672;">
              <i class="material-icons">storage</i>
            </div>
            <h4 class="card-title">Prorroga</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div style="display: flex; justify-content: center; align-items: center;">
                <app-first-menu></app-first-menu>
              </div>
            </div>
            <div class="row">
              <div class="col-12"> <!--BOTON-->
                <button mat-raised-button type="button" class="btn btn-fill btn-rose"
                (click)="navigate('home/reinsuranceAdministration/primas/modify-distribuition/prorroga/facultativos')"
                  style="background-color: #016672;">Facultativo </button>
                <button mat-raised-button type="button" class="btn btn-fill btn-rose" (click)="navigate('home/reinsuranceAdministration/primas/modify-distribuition/prorroga/automaticos')"
                  style="background-color: #016672; margin-left: 10px;">Automatico </button>
              </div>
            </div>

      


          </div>
        </div>
      </div>
    </div>
  </div>
</div>