<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon" style="background: #016672;">
                            <i class="material-icons">people</i>
                        </div>
                        <h4 class="card-title">Usuarios</h4>
                    </div>

                    <div class="card-body ">
                        <div class="row">
                            <div class="row" *ngIf="menu.length != 0">
                                <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3" *ngFor="let menuitem of menu.r2">
                                    <a (click)="navigate(menuitem.url)">
                                        <div class="card" style="background: #016672; border-radius: 6px; opacity: 0.8; color: #fff;">
                                            <div class="fondoItem" [style]="'background-image: url('+img+'menu/'+menu.r3+'); --bubble-color: #006571;'">
                                            </div>
                                            <div class="card-body text-center">
                                                <i class="material-icons home"><mat-icon>{{menu.s}}</mat-icon></i>
                                                <h4>{{menuitem.name}}</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>