/* .menu ul {
	list-style: none;
	padding: 0;
}

.menu .item {
	float: left;
	
}

.menu .item a {
	background-color: #006571;
	color: #fff;
	padding: 12px 22px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-decoration: none;
	border-radius: 23px;
}

.menu .dsple {
	display: none;
	position: absolute;
}

.menu .item:hover .dsple {
	display: block;
	position: absolute;
}

.menu .item a:hover {
	background-color: #00cae0;
}

.menu .submenu {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
}

.menu .dsple li:hover .submenu {
	display: block;
	position: absolute;
	width: auto;
}

.menu .submenu .submenu2 {
	display: none;
	position: absolute;
	left: 100%;
	
	top: 0;
}

.menu .dsple li:hover .submenu .submenu2 {
	display: block;
} */

.myButton{
	color: #006571;
}