<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" style="background-color: #016672;">
              <i class="material-icons">storage</i>
            </div>
            <h4 class="card-title">Asociación de Contratos</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <form [formGroup]="formulario">
                <div class="row">
                  <div class="col-12">
                    <mat-form-field appearance="fill">
                      <mat-label>Tipo de contrato</mat-label>
                      <input matInput readonly formControlName="tipoContrato" placeholder="Tipo de Contrato">
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <mat-form-field appearance="fill">
                      <mat-label>ID Contrato</mat-label>
                      <input matInput (change)="consultar()" formControlName="idContrato" placeholder="ID Contrato">
                      <input type="hidden" formControlName="idContratopk">
                    </mat-form-field>
                    <ul id="myUL" *ngIf="lisRequest">
                      <li *ngFor="let item of dataReq">
                        <a href="javascript:void(0)" (click)="cargar(item)">{{item.o}}</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <mat-form-field appearance="fill">
                      <mat-label>Descripción Contrato</mat-label>
                      <input matInput readonly formControlName="descripcion" placeholder="Descripción Contrato">
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Inicio</mat-label>
                      <input matInput readonly formControlName="fInicio" placeholder="Inicio">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Fin</mat-label>
                      <input matInput readonly formControlName="fFin" placeholder="Fin">
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Otros gastos</mat-label>
                      <input matInput formControlName="otrosGastos">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Valor asignado al proveedor</mat-label>
                      <input matInput placeholder="50.000.000" (change)="miles('', 'distribucion')"
                        formControlName="distribucion">
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="row" *ngFor="let rm of listRamos" style="margin-top: 10px;">
                      <div class="col-6">
                        <mat-form-field appearance="fill">
                          <mat-label>Ramo</mat-label>
                          <input matInput disabled [value]="rm.a2">
                        </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-form-field appearance="fill">
                          <mat-label>Valor asignado al ramo</mat-label>
                          <input matInput (change)="milesRamos($event.target)" id="value_{{rm.c}}">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-12">
                      <label>Proveedores</label>
                      <div class="row">
                        <div class="col-6">
                          <mat-form-field appearance="fill">
                            <mat-label>Proveedores</mat-label>
                            <mat-select formControlName="provedor">
                              <mat-option *ngFor="let p of listprovedor | async" [value]="p.a">{{p.a2}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="fill">
                            <mat-label>Valor Proveedor</mat-label>
                            <input matInput formControlName="vlProvedor">
                          </mat-form-field>
                        </div>
                      </div>
                      
                    </div>
                  </div>

                  
                  <div class="col-2">
                    <button mat-raised-button color="primary" (click)="changeProvedores()">Adicionar</button>
                  </div>

                  <div class="row" *ngIf="provedorListView">
                    <div class="col-12" *ngFor="let item of provedoresAsignacion" style="margin-top: 10px;">
                      <div class="col-6">
                        <input matInput disabled [value]="provedor(item.p)">
                      </div>
                      <div class="col-6">
                        <input matInput disabled [value]="procentajes.desimalDeMiles(item.vl)">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row" *ngIf="showList">
                  <div class="col-2"></div>
                  <div class="col-8">
                    <div class="form-group" *ngFor="let item of detail">
                      <mat-checkbox (click)="detalle(item)" name="checkList">{{item.name}}</mat-checkbox>
                    </div>
                  </div>
                  <div class="col-2"></div>
                </div>

                <div class="row" *ngIf="listAsociacion.length > 0">
                  <div class="col-12">
                    <table class="row-border hover">
                      <thead>
                        <tr>
                          <th>Contrato</th>
                          <th>Tipo Contrato</th>
                          <th>Descripción</th>
                          <th>Ramo</th>
                          <th>Tipo de asociación</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let i of listAsociacion">
                          <td>{{i.idContrato}}</td>
                          <td>{{i.tipoContrato}}</td>
                          <td>{{i.descripcion}}</td>
                          <td>{{i.ramoN}}</td>
                          <td>{{i.tipoAs}}</td>
                          <td>
                            <i class="fa fa-trash cursor btn-header cursor_active" (click)="delete(i)"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </form>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>